.container,
.menu-container {
  /* position: relative; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.menu-trigger {
  /* background: #ffffff; */
  /* border-radius: 90px; */
  /* cursor: pointer; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 4px 6px; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  /* border: none; */
  /* vertical-align: middle; */
  /* transition: box-shadow 0.4s ease; /*
  /* margin-left: auto;  */
  /* Strictly for positioning */
}

.menu-trigger:hover {
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); */
}

.menu-trigger span {
  /* font-weight: 700; */
  /* vertical-align: middle; */
  /* font-size: 14px; */
  /* margin: 0 10px; */
}

.menu-trigger img {
  /* border-radius: 90px; */
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 100px;
  left: 30px;
  width: 300px;
  min-height: 140px;
  max-height: 140px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 50 !important;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  /* z-index: 50 !important; */
}

/* .menu li {
  border-bottom: 1px solid #dddddd;
  text-align: center;
} */

.menu li a {
  text-decoration: none;
  color: #222222;
  padding: 14px 20px 15px;
  display: block;
  font-family: "WorkSans_SemiBold", sans-serif;
  font-size: 1.1rem;
}

.arrowHead {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: calc(95% - 3px);
  left: 8%;
  /* margin-top: 50px; */
  margin-left: -5px;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
}
