@font-face {
  font-family: "WorkSans";
  src: url("./fonts/WorkSans/WorkSans-Medium.ttf");
}

@font-face {
  font-family: "WorkSans_Medium";
  src: url("./fonts/WorkSans/WorkSans-Medium.ttf");
}

@font-face {
  font-family: "WorkSans_SemiBold";
  src: url("./fonts/WorkSans/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: "WorkSans_Bold";
  src: url("./fonts/WorkSans/WorkSans-Bold.ttf");
}

@font-face {
  font-family: "WorkSans_ExtraBold";
  src: url("./fonts/WorkSans/WorkSans-Bold.ttf");
}
