@import "tailwindcss/base";
@import "tailwindcss/components";

/**
* Custom fonts are imported here so as not to overwrite TailwindCSS's 
* utilities.
*/
@import "fonts.css";

@import "tailwindcss/utilities";

@import "animated-background.css";
@import "loading-screen-1.css";

:root {
  --main-bg-color: #f9fafe;
  --main-bg-color: #fff;
  --ul-txt-color: #333333;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  background-color: var(--main-bg-color);
  font-family: "WorkSans", san-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-family: "WorkSans_Bold", sans-serif;
}

@layer base {
  p,
  ul {
    color: var(--ul-txt-color);
  }

  p {
    @apply mt-5;
    @apply leading-7;
  }

  strong {
    font-family: "WorkSans_SemiBold", sans-serif;
  }

  textarea {
    resize: none;
  }

  h2 {
    @apply text-3xl;
    /* @apply text-stone-800; */
    font-family: "WorkSans_Bold", sans-serif;
  }

  h3 {
    @apply text-stone-800;
  }

  .module-h3 {
    font-size: 1.1rem;
    font-family: "WorkSans_Bold", sans-serif;
    @apply font-bold;
    @apply text-stone-900;
  }

  .toast-h3 {
    font-size: 1.1rem;
    font-family: "WorkSans_Bold", sans-serif;
    @apply font-bold;
  }

  .leading-text {
    @apply leading-snug;
    @apply text-zinc-600;
  }
}

.vert-dash-line {
  stroke: #888;
  stroke-dasharray: 7;
  stroke-width: 6px;
}
